@model EntityLayer.Concrete.Contact

<div class="col-md-9 contact-middle">
	<h2>Bizimle İletişime Geçin</h2>
	@using(Html.BeginForm("sendMessage","Default",FormMethod.Post))
	{
		<div class="form-agileinfo">
			<p>Ad Soyad</p>
			<input type="text" asp-for="Name" placeholder="Ad Soyad" required="" />
			<p>Mail</p>
			<input type="email" asp-for="Mail" placeholder="Mail Adresiniz" required="" />
		</div>
		<div class="form-agileits-w3layouts">
			<p>Mesaj</p>
			<textarea asp-for="Message" placeholder="Mesajınız" required=""></textarea>
			<input type="submit" value="SEND MESSAGE">
		</div>
		<div class="clearfix"></div>
	}
</div>