
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Üretim ve Stok Bilgilerini Tutan Excel Raporlarımız</h2>

<div class="form-group">
    <a href="/Report/staticReport/" class="btn btn-behance">Statik Raporlar</a>
</div>
<div class="form-group">
    <a href="/Report/contactReport/" class="btn btn-inverse-warning">Geribildirim Raporları</a>
</div>
<div class="form-group">
    <a href="/Report/announcementReport/" class="btn btn-inverse-secondary ">Duyuru Raporları</a>
</div>

